{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mohamed Marzook">
    <title>My Portfolio</title>

    <link rel="shortcut icon" href="{% static 'images/icon.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/custom1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=La+Belle+Aurore&display=swap" rel="stylesheet">
  </head>
  <body>

    <input type="checkbox" id="check">

    <!--header area start-->
    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <img src="{% static 'images/icon.png' %}" class="mobile_profile_image" alt="">
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
        <a href="/"><i class="fas fa-desktop"></i><span>Home</span></a>
        <a href="/projects"><i class="fas fa-cogs"></i><span>projects</span></a>
        <!--<a href="/about"><i class="fas fa-info-circle"></i><span>About</span></a>-->
        <a href="/contact"><i class="fas fa-sliders-h"></i><span>contact</span></a>
      </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
      <div class="profile_info">
        <label for="check">
          <img src="{% static 'images/icon.png' %}" class="profile_image" alt="">
        </label>

      </div>
      <a href="/"><i class="fas fa-desktop"></i><span>Home</span></a>
      <a href="/projects" ><i class="fas fa-cogs"></i><span>projects</span></a>
      <!--<a href="/about"  ><i class="fas fa-info-circle"></i><span>About</span></a>-->
      <a href="/contact"><i class="fas fa-sliders-h"></i><span>contact</span></a>
      </div>
    <!--sidebar end-->

      <span class="htmltag htmltag1"> < html > </span>

    <div class="htmlbody1">
    <span class="htmltag bodytag1"> < body > </span>
    </div>
  <div>
    <div class="content">
      {% block Content %}
      {% endblock Content %}

      <script src="{% static 'js/textA.js' %}"></script>
    </div>
  </div>

    <div class="htmlbody2"><span class="htmltag bodytag1" > < /body > </span></div>
    <span class="htmltag htmltag1"> < /html > </span>
    <script type="text/javascript">
    $(document).ready(function(){
      $('.nav_btn').click(function(){
        $('.mobile_nav_items').toggleClass('active');
      });
    });
    </script>

  </body>
</html>