{% extends 'pages/base.html' %}
{% load static %}

{% block Content %}
      <span class="htmltag tag"> < h1 > </span>
      <h1 class='rubber-band'>Contact</h1>
      <span class="htmltag tag"> < /h1 > </span>
      <p class="contentpara">
            My Social Accounts
      </p>
      <a href="mailto:mohdmarzook07@gmail.com"><button class="btn btn1">Mail</button></a> <br>
      <a href="https://github.com/MohdMarzook"><button class="btn btn1">GitHub</button></a> <br>
      <a href="https://in.linkedin.com/in/mohamed-marzook-3a3787268"><button class="btn btn1">LinkedIn</button></a> <br>
      <a href="#"><button class="btn btn1">Instagram</button></a> <br>
{% endblock %}