{% extends 'pages/base.html' %}
{% load static %}

{% block Content %}

<span class="htmltag tag">< h1></span>
<h1 class='rubber-band'>Projects</h1>
<span class="htmltag tag">< /h1></span>

<style>
/* This rule says: find an element with the class "contentpara",
   then style any <p> tag inside of it. */

div.contentpara strong {
  color: white;
}
div.projectcontent .rubber-band , div.projectcontent .rubber-letter{
    font-size: 1.2em;
    line-height: unset;
}
</style>

<div class="contentpara">
      {% if projects %}
            {% for project in projects %}
                  <div class="projectname"><span class="htmltag tag">< h2></span>
                  <h2 id='{{project.project_name}}' class='rubber-band'>{{project.project_name}}</h2>
                  <span class="htmltag tag">< /h2></span></div>


                  <div class="projectcontent">
                        <span class="tag">
                              < img>
                        </span>
                        <a href="{{project.website_link}}">
                              {% if project.photo %}
                                    <img src="{{ project.photo.url }}" alt="{{ project.project_name }}">
                              {% else %}
                                    <img src="{% static 'images/default.jpg' %}" alt="Default Image">
                              {% endif %}
                        </a>
                        <span class="tag">
                              < /img>
                        </span>
                        <p>
                              {{project.description | safe}}
                        </p>

                  </div>
            {% endfor %}
      {% else %}
            <p>No projects available at the moment.</p>
      {% endif %}
      <a href="/contact"><button class="btn btn1">Follow Me On Social Media</button></a>


</div>

{% endblock %}


<!--
<div class="projectcontent">
      <span class="tag">
            < img>
      </span>
      <a href="https://currencyconvertor.pythonanywhere.com/">
            <img src="{%static 'images/currency_converter.png'%}" alt="">
      </a>
      <span class="tag">
            < /img>
      </span>
      <p>
            This project showcases my first experience using an API to develop a practical application. I successfully
            created an online currency converter by integrating the exchangerate.host free API. The converter fetches
            data in JSON format from the API, allowing me to access the latest exchange rates. Utilizing this data, I
            implemented background calculations to perform accurate conversions for any given amount. The result is a
            fully functional and efficient online currency converter. This project highlights my ability to work with
            APIs and demonstrates my proficiency in handling data formats and performing calculations to deliver
            valuable solutions.
      </p>

</div> -->