html{
    height :100%;
    background: #1b1b1b;
    scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  cursor:default;

}

div.contentpara p, li {
  font-family:monospace !important;
  line-height: 1.6;
}

.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}


.sidebar{
  z-index: 1;
  top: 0;
  background: #2f323a;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 150px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
  display:flex;
  flex-direction:column;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image{
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition-duration: 0.5s;
}


.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  font-size: 18px;
  padding-left: 30px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #19B3D3;
}

.sidebar i{
  padding-right: 10px;
}

/*home page */
.about {
    width:60%;
    font-size:22px;
    color:lightsteelblue;
    padding: 10px 0px 10px 18px;
    font-family: monospace;
    line-height:1.3;
}

label #sidebar_btn{

  color: rgb(0, 0, 0);
  position: relative;
  cursor: pointer;
  left: 208px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #19B3D3;
}

#check:checked ~ .sidebar{
  left: -80px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 75px;
  width: 100%;
}

#check:checked ~ .sidebar .profile_info .profile_image{
  width: 50px;
  height: 50px;
  margin-left: 80px;
  margin-top: 45px;
  margin-bottom: 50px;
  transition-duration: 0.5s;
}
/*.sidebar:hover{*/
/*    .sidebar .profile_info .profile_image{*/
/*      width: 50px;*/
/*      height: 50px;*/
/*      margin-left: 80px;*/
/*      margin-top: 45px;*/
/*      margin-bottom: 50px;*/
/*      transition-duration: 0.5s;*/
/*    }*/
/*}*/


.rubber-word {
    display: inline-block;
}

/* this is the text in middle page */
.rubber-band {
  font-size: 50px;
  transition: color 0.3s ease; /* Transition the color change */
  cursor: default;
  color: #19B3D3;
  line-height: 67px;
  display:inline-block;
  /* Add display so transform works consistently */
}
.rubber-letter {
  font-size: 50px;
  transition: color 0.3s ease; /* Transition the color change */
  cursor: default;
  color: #19B3D3;
  line-height: 67px;
  /* Add display so transform works consistently */
  display: inline-block;
}

/* This still handles the color change on hover */
.rubber-letter:hover {
  color: rgb(14, 164, 168);
}

/* This new class will run the animation */
.rubber-letter.is-animating {
  animation: rubberlater 1s;
}

/* Your keyframes remain exactly the same */
@keyframes rubberlater {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

span.htmltag.htmltag1{
  font-family: 'La Belle Aurore', cursive;
  color: #3498db;
  opacity: 0.5;
  font-size: 18px;
  line-height: 10px;
  padding-left: 150px;
  opacity: 0.5;
  transition-duration: 0.5s;
  user-select: none;
}

span.htmltag.bodytag1{
  font-family: 'La Belle Aurore', cursive;
  color: #3498db;
  opacity: 0.5;
  font-size: 18px;
  line-height: 10px;
  padding-left: 175px;
  opacity: 0.5;
  transition-duration: 0.5s;
  user-select: none;
}
.htmlbody1{
  margin-top: 15px;
}
.htmlbody2{
  margin-bottom: 15px;
}

.content{
  padding-left: 250px;
  background-position: center;
  background-size: cover;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-style: normal;
  margin-top: 20px;
  /* this is used to fil extra space in btn */
  margin-bottom: 20px;
  transition: 0.5s;
}


.content h1{
  margin: 10px 10px 10px 10px;
}
.content h2{
  margin: 10px 10px 10px 10px;
}



.contentpara{
  color:rgba(37, 164, 196, 0.911);
  font-size: 21px;
  line-height: 21px;
  font-family: 'Alegreya Sans SC', sans-serif;
  padding-right: 13%;
  margin: 20px 0px;

}

.contentpara img{
  width: 100%;
  height: auto;
  margin: 10px 0px;
}

.projectcontent{
  margin-left: 30px;
  margin-top: 5px;
}

span.tag{
  opacity: 0.5;
  line-height: 0px;
  font-family: 'La Belle Aurore', cursive;
  color:#3498db;
  font-size: 18px;
  user-select: none;
  display:inline-block;
  /* h1 tag 1 and h2 tag 2 */
}


#check:checked ~ .htmltag.htmltag1{
  padding-left: 80px;
  transition-delay: 0.14s;
  transition-duration: 0.65s;
}

#check:checked ~ div.htmlbody1 span.htmltag.bodytag1,
#check:checked ~ div.htmlbody2 span.htmltag.bodytag1{
  padding-left: 140px;
  transition-delay: 0.16s;
  transition-duration: 0.7s;
}
#check:checked ~ div div.content{
  padding-left: 220px;
  transition-delay: 0.18s;
  transition-duration: 0.7s;
}





/* "contact me button is starts in here" */
.btn{
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Alegreya Sans SC', sans-serif;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.btn1,.btn2{
  color: #3498db;
}
.btn3,.btn4{
  color: #fff;
}
.btn1:hover,.btn2:hover{
  color: #fff;
}
.btn3:hover,.btn4:hover{
  color: #3498db;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn3::before,.btn4::before{
  height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
  height: 180%;
}
.btn3:hover::before,.btn4:hover::before{
  height: 0%;
}

/* "contact me button is ends in here" */






#check{
  display:none;
}

.mobile_nav{
  display: none;
}
/* this is used for the text and its
background color and spacing between them
*/


/* Responsive CSS */
@media screen and (max-width: 450px){
.sidebar{
    display: none;
  }

  #sidebar_btn{
    display: none;
  }

  .content{
    padding-left: 7%;
  }

  #check:checked ~ .content{
    margin-left: 0px;

  }
  .contentpara{
    line-height: 20px;
    padding-right: 50px;
  }

  .mobile_nav{
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar{
    background: #222;
    width: (100% - 0px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

  }

  .nav_bar .mobile_profile_image{
    width: 50px;
    height: 50px;
    margin-left: 5%;
  }

  .nav_bar .nav_btn{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: all;
    margin-right: 3%;
  }

  .nav_bar .nav_btn:hover{
    color: #19B3D3;
  }

  .mobile_nav_items{
    background: #2F323A;
    display: none;
    transition: 0.5s;
  }

  .mobile_nav_items a{
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.7s;
    transition-property: all;
  }

  .mobile_nav_items a:hover{
    background: #19B3D3;
  }

  .mobile_nav_items i{
    padding-right: 20px;
  }
  span.htmltag.htmltag1,
  span.htmltag.htmltag2{
    padding-left: 2%;
  }
  /* html tag 1 and 2 */

  div.htmlbody1 span.htmltag.bodytag1,
  div.htmlbody2 span.htmltag.bodytag1 {
    padding-left: 5%;
  }
.active{
    display: block;
}
.about {
  width:90%;
}
}
@media (min-width: 450px) and (max-width: 768px){
  .sidebar{
    display: none;
  }

  #sidebar_btn{
    display: none;
  }

  .content{
    margin-top: 65px;
    padding-left: 10%;
  }

  #check:checked ~ .content{
    margin-left: 0px;

  }
  .contentpara{
    line-height: 20px;
    padding-right: 50px;
  }

  .mobile_nav{
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar{
    background: #222;
    width: (100% - 0px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

  }

  .nav_bar .mobile_profile_image{
    width: 50px;
    height: 50px;
    margin-left: 5%;
  }

  .nav_bar .nav_btn{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: all;
    margin-right: 3%;
  }

  .nav_bar .nav_btn:hover{
    color: #19B3D3;
  }

  .mobile_nav_items{
    background: #2F323A;
    display: none;
    transition: 0.5s;
  }

  .mobile_nav_items a{
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.7s;
    transition-property: all;
  }

  .mobile_nav_items a:hover{
    background: #19B3D3;
  }

  .mobile_nav_items i{
    padding-right: 20px;
  }
  span.htmltag.htmltag1,
  span.htmltag.htmltag2{
    padding-left: 2%;
  }
  /* html tag 1 and 2 */

  div.htmlbody1 span.htmltag.bodytag1,
  div.htmlbody2 span.htmltag.bodytag1 {
    padding-left: 5%;
  }
  .active{
    display: block;

  }
}